<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conexão Oportunidades - Plataforma PCD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Conexão Oportunidades</h1>
        <p>Nossa plataforma é dedicada a conectar profissionais com deficiência a empresas que valorizam a diversidade e a inclusão. Crie seu perfil e descubra novas oportunidades!</p>
        <div style="text-align: center;">
            <a href="/cadastro" class="botao-cadastro">Quero Cadastrar Meu Perfil</a>
        </div>
    </div>
</body>
</html>
